.container {
  margin-top: 6rem;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  margin-left: 10%;
  color: black;

  &>h4 {
    margin-top: 3rem;
  }

  &>h5 {
    margin-top: 5rem;
    text-align: left;
    align-self: flex-start;
  }

  &>p {
    align-self: flex-start;
  }

  @media (max-width: 900px) {
    width: 95%;
    margin-left: 2.5%;
  }
}


.ad {
  width: 100vw;
  height: auto;
  position: relative;
  margin-top: 3rem;

  @media (max-width: 900px) {
    width: 120vw;
  }

  &>img {
    width: 100%;
    height: auto;
  }

  .ad_text {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    gap: 1rem;

    @media (max-width: 900px) {
      gap: 0;
      width: 100%;
    }

    & h3,
    & a {
      font-family: var(--font-poppins), sans-serif;

      @media (max-width: 900px) {
        font-size: 1rem;
      }
    }




    & a {
      text-decoration: underline;
      font-style: italic;
    }
  }
}