.container {
    width: 150%;
}

g.fade_element {
    opacity: 0;
    /* transform: rotateY(-50deg); */
    transition: opacity 1s ease-in, transform 1.5s ease-in-out;
}

g.fade_element.boy {
    transform: translateX(30%) rotateY(-65deg);
    transform-box: fill-box;
}

g.fade_element.girl {
    transform: translateX(-30%) rotateY(65deg);
    transform-box: fill-box;
}

g.fade_element.visible.boy {
    opacity: 1;
    transform: translateX(145%) rotateY(0);
}

g.fade_element.visible.girl {
    opacity: 1;
    transform: translateX(-145%) rotateY(0);
}