.container {
  transition: opacity 0.3s;

  & * {
    font-family: var(--font-montserrat), sans-serif;
  }

  & input {
    text-align: center;
    padding: 5px;
  }

  & button {
    background: var(--primary);
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
    color: black;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      opacity: 0.5;
    }
  }
}

.loading {
  pointer-events: none;
  opacity: 0.5;
}

.secondStyle {
  margin-top: 5rem;

  & button {
    background: var(--secondary);
    color: white;
  }
}